---
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
---

<DefaultPageLayout>
    <section class="wrapper bg-soft-primary">
        <div class="container pt-10 pt-md-14 pb-14 pb-md-0">
            <div class="row gx-md-8 gx-lg-12 gy-3 gy-lg-0 mb-13">
                <div class="col-lg-6">
                    <h1 class="display-2 fs-60 lh-xxs mb-0">
                        Tucson's #1 Trusted Junk Handling, Debris Removal, and
                        Light Demolition Experts
                    </h1>
                </div>
                <!-- /column -->
                <div class="col-lg-6">
                    <p class="lead fs-25 mb-3">
                        Clutter Cowboys is a locally-owned and operated junk
                        removal company based in Tucson, Arizona. Our commitment
                        to client satisfaction and delivering an exceptional
                        junk removal experience sets us apart in the industry.
                        As a local-focused business, we treat every customer
                        like a friend and take pride in giving back to our
                        community.
                    </p>
                    <a href="#more-about-us" class="more hover scroll"
                        >Read more about us</a
                    >
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
            <div class="position-relative">
                <div
                    class="shape bg-dot primary rellax w-17 h-21"
                    data-rellax-speed="1"
                    style="top: -2.5rem; right: -2.7rem;"
                >
                </div>
                <div
                    class="rounded mb-md-n20 video-wrapper bg-overlay ratio ratio-16x9"
                >
                    <video
                        poster="/images/services-poster.jpg"
                        autoplay
                        loop
                        playsinline
                        muted
                    >
                        <source
                            src="/videos/moving-stuff.mp4"
                            type="video/mp4"
                        />
                        <source
                            src="/videos/moving-stuff.webm"
                            type="video/webm"
                        />
                    </video>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <section class="wrapper bg-light">
        <div class="container py-10 pt-md-23">
            <div
                class="row gx-lg-8 gx-xl-12 gy-10 align-items-center"
                id="more-about-us"
            >
                <div class="col-lg-6 position-relative order-last order-lg-2">
                    <div
                        class="shape bg-dot primary rellax w-16 h-20"
                        data-rellax-speed="1"
                        style="top: 3rem; left: 5.5rem"
                    >
                    </div>
                    <div class="overlap-grid overlap-grid-2">
                        <div class="item">
                            <figure class="rounded shadow">
                                <img
                                    src="/images/cluttered-garage-2.jpg"
                                    alt="Messy garage on Tucson's North side"
                                />
                            </figure>
                        </div>
                        <div class="item">
                            <figure class="rounded shadow">
                                <img
                                    src="/images/the-clutter-cowboys-crew.jpg"
                                    alt="Clutter Cowboys founders Gaege and Darrin"
                                />
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <img
                        src="/icons/lineal/megaphone.svg"
                        class="svg-inject icon-svg icon-svg-md mb-4"
                        alt=""
                    />
                    <h2 class="display-4 mb-3">
                        Howdy, we're the Clutter Cowboys
                    </h2>
                    <p class="lead fs-lg">
                        What makes us stand out from other junk removal services
                        in Tucson? We prioritize listening to our clients,
                        offering a genuine conversation, and providing prompt
                        assistance. Whether you need to get rid of appliances,
                        furniture, general household junk, or construction
                        debris, our dedicated team is ready to help.
                    </p>
                    <p class="mb-6">
                        From the beginning, Clutter Cowboys has redefined
                        customer service in the junk removal industry. We have
                        developed an innovative approach that combines
                        affordable pricing with unwavering reliability. From the
                        moment you contact us to the completion of your project,
                        expect our knowledgeable, friendly, and efficient
                        professionals to deliver exceptional service.
                    </p>
                    <p>
                        At Clutter Cowboys, we attribute our success as a small
                        junk removal business in Tucson to the satisfaction of
                        the people we serve. We understand that managing junk,
                        trash, and clutter requires a team you can trust. Our
                        mission is to provide an unforgettable and excellent
                        junk removal experience.
                    </p>
                    <a href="#service-areas-and-offerings" class="more hover scroll"
                        >Read about our service areas and service offerings</a
                    >
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper bg-light">
        <div class="container py-10">
            <div
                class="row gx-lg-8 gx-xl-12 gy-10 align-items-center"
                id="service-areas-and-offerings"
            >
                <div class="col-lg-6 position-relative order-last order-lg-first">
                    <div
                        class="shape bg-dot primary rellax w-16 h-20"
                        data-rellax-speed="1"
                        style="top: 3rem; left: 5.5rem"
                    >
                    </div>
                    <div class="overlap-grid overlap-grid-2">
                        <div class="item">
                            <figure class="rounded shadow">
                                <img
                                    src="/images/full-truckload.jpg"
                                    alt="Clutter Cowboys truck full of junk"
                                />
                            </figure>
                        </div>
                        <div class="item">
                            <figure class="rounded shadow">
                                <img
                                    src="/images/full-truck.jpg"
                                    alt="Clutter Cowboys truck stuffed full of junk"
                                />
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="display-4 mb-3">
                        Service areas and services offered
                    </h2>
                    <p class="lead fs-lg">
                        When it comes to junk removal in Tucson, Arizona,
                        Clutter Cowboys takes the lead. We are the #1 choice for
                        junk removal services in Tucson and the surrounding
                        areas. With our flexible scheduling options, including
                        same-day and next-day service, we ensure your
                        convenience. Whether you prefer full-service junk
                        removal or curbside pickups, we have you covered.
                    </p>
                    <p class="mb-6">
                        In addition to handling hoarding, estate, house, garage,
                        and property junk, our professional team specializes in
                        bulky item removal. If you need to get rid of items like
                        pianos, sheds, hot tubs, or exercise equipment, we have
                        the expertise and resources to manage it all. Give us a
                        call today to schedule your junk removal appointment -
                        we're always available to assist you.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper bg-light" id="estimate-job">
        <div class="container py-10">
            <div class="card bg-soft-primary mb-14">
                <div class="card-body p-10 p-xl-12">
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center">
                            <h3 class="fs-30 text-uppercase text-primary mb-3">
                                Want a quick estimate before calling?
                            </h3>
                            <p class="lead mb-10">
                                <b
                                    >Imagine all your junk as <span
                                        class="underline-3 style-3"
                                        >refrigerator-sized</span
                                    > piles. Then change the number below.</b
                                >
                            </p>
                            <h4 class="display-6 mb-0 user-select-none">
                                Your <i
                                    id="decrease_pile"
                                    class="uil uil-minus-circle fs-28 me-1 text-primary text-opacity-50 cursor-pointer"
                                ></i><span
                                    id="pile_number"
                                    class="underline-3 style-2 fs-40">6</span
                                ><i
                                    id="increase_pile"
                                    class="uil uil-plus-circle fs-28 ms-1 text-primary cursor-pointer"
                                ></i> piles will cost between <span
                                    id="lower_estimate"
                                    class="underline-3 style-2">$231</span
                                > and <span
                                    id="upper_estimate"
                                    class="underline-3 style-2">$363</span
                                >.
                            </h4>
                        </div>
                        <!-- /column -->
                    </div>
                    <div
                        class="d-flex align-items-center justify-content-center mt-12 main-cta-action"
                    >
                        <span
                            ><a
                                href="tel:520-600-6322"
                                class="btn btn-xl btn-primary rounded-pill btn-icon btn-icon-start text-white me-4 my-2"
                                ><i class="uil uil-phone"></i>Call now</a
                            ></span
                        >
                        <span
                            >for a <b>no-obligation, in-person</b> estimate (we never
                            charge just to come out)</span
                        >
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </section>

    <!-- /.container -->
</DefaultPageLayout>
<!-- /section -->
