---
import DefaultPageLayout from "../layouts/DefaultPageLayout.astro";
---

<DefaultPageLayout>
    <section
        class="wrapper bg-light position-relative min-vh-70 d-lg-flex align-items-center mb-14"
    >
        <div
            class="rounded-4-lg-start col-lg-6 order-lg-2 position-lg-absolute top-0 end-0 image-wrapper bg-image bg-cover h-100 min-vh-30"
            data-image-src="/images/relaxing_junk_free.jpg"
            style="box-shadow: -10px 10px 10px #12121226;"
        >
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div
                        class="mt-10 mt-md-11 mt-lg-n10 px-2 px-md-11 ps-lg-0 pe-lg-13 text-center text-lg-start"
                        data-cues="slideInDown"
                        data-group="page-title"
                        data-delay="600"
                    >
                        <h1 class="display-1 mb-5">
                            You have junk.<br />We make it disappear.<br />So you can relax.
                        </h1>
                        <p class="lead fs-25 lh-sm pe-md-10">
                            Transparent pricing and lightning fast service make
                            us Tucson's top choice for junk removal and hauling.
                        </p>
                        <div
                            class="d-flex justify-content-center justify-content-lg-start flex-wrap"
                            id="page-title-buttons"
                            data-cues="slideInDown"
                            data-group="page-title-buttons"
                            data-delay="900"
                        >
                            <span
                                ><a
                                    href="tel:520-600-6322"
                                    class="btn btn-primary rounded-pill btn-icon btn-icon-start text-white me-4 mt-5"
                                    ><i class="uil uil-phone"
                                    ></i>520-600-6322</a
                                ></span
                            >
                            <div class="d-flex mt-5 justify-content-center">
                                <span class="me-4 fs-22 mt-1">or</span>
                                <a
                                    href="#estimate-job"
                                    class="btn btn-expand btn-soft-primary rounded-pill scroll"
                                >
                                    <i class="uil uil-arrow-right"></i>
                                    <span>Get a quick estimate</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-soft-ash angled upper-start lower-start">
        <div class="container pt-14 pt-md-8 pb-10">
            <div class="row gx-lg-8 gx-xl-12 gy-12 align-items-center">
                <div class="col-lg-6 position-relative order-last">
                    <div class="row gx-md-5 gy-5 align-items-center">
                        <div class="col-md-6">
                            <div class="row gx-md-5 gy-5 d-none d-md-block">
                                <div class="col-md-10 offset-md-2">
                                    <figure class="rounded">
                                        <img
                                            src="/images/carrying-couch-2.jpg"
                                            alt="Couple carrying couch"
                                        />
                                    </figure>
                                </div>

                                <div class="col-md-12">
                                    <figure class="rounded">
                                        <img
                                            src="/images/carrying-junk.jpg"
                                            alt="Carrying junk"
                                        />
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <figure class="rounded">
                                <img
                                    src="/images/frustrated-junk-removal.jpg"
                                    alt="Junk removal frustration"
                                />
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 order-lg-last">
                    <h3 class="display-5 mb-5">
                        Junk removal is no walk in the park
                    </h3>
                    <p class="mb-7 fs-lg">
                        We're people just like you so we've had to deal with our
                        own fair share of junk in the past. It can be downright
                        frustrating trying to figure out when to get it done,
                        how to move the heavy stuff, where it should even go,
                        and how to get it there.
                    </p>
                    <p class="fs-lg mb-4">
                        Any of these bring back (bad) memories?
                    </p>
                    <div class="row gy-3">
                        <div class="col-xl-6">
                            <ul
                                class="icon-list bullet-bg bullet-soft-primary mb-0"
                            >
                                <li>
                                    <span><i class="uil uil-check"></i></span
                                    ><span
                                        >Navigating a couch through a tiny doorway</span>
                                </li>
                                <li class="mt-3">
                                    <span><i class="uil uil-check"></i></span
                                    ><span
                                        >Spending hours breaking up junk to
                                        distribute on trash pickup days</span>
                                </li>
                            </ul>
                        </div>

                        <div class="col-xl-6">
                            <ul
                                class="icon-list bullet-bg bullet-soft-primary mb-0"
                            >
                                <li>
                                    <span><i class="uil uil-check"></i></span
                                    ><span
                                        >Hoping the mattress doesn't unfold
                                        halfway up the stairs</span>
                                </li>
                                <li class="mt-3">
                                    <span><i class="uil uil-check"></i></span
                                    >Balancing a heavy refrigerator on a barely functional
                                    dolly<span></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper bg-light">
        <div class="container py-14 py-md-14">
            <div class="row gx-lg-8 gx-xl-12 gy-8">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <h3 class="display-4 mb-7 mt-10 px-xl-11 text-center">
                        So you're probably dealing with...
                    </h3>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="d-flex flex-row">
                        <div>
                            <img
                                src="/icons/lineal/directions.svg"
                                class="svg-inject icon-svg icon-svg-md text-primary me-4"
                                alt=""
                            />
                        </div>
                        <div>
                            <h4 class="mb-1">Overwhelming clutter</h4>
                            <p class="mb-0">
                                Living or working in a space filled with
                                unwanted items can create a constant feeling of
                                chaos and unease.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="d-flex flex-row">
                        <div>
                            <img
                                src="/icons/lineal/clock-3.svg"
                                class="svg-inject icon-svg icon-svg-md text-yellow me-4"
                                alt=""
                            />
                        </div>
                        <div>
                            <h4 class="mb-1">Limited time and energy</h4>
                            <p class="mb-0">
                                Dealing with junk removal is physically
                                demanding and time-consuming, taking away
                                precious time and energy from other important
                                commitments.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="d-flex flex-row">
                        <div>
                            <img
                                src="/icons/lineal/adjust.svg"
                                class="svg-inject icon-svg icon-svg-md text-navy me-4"
                                alt=""
                            />
                        </div>
                        <div>
                            <h4 class="mb-1">
                                Lack of proper tools and resources
                            </h4>
                            <p class="mb-0">
                                Removing and disposing of junk often requires
                                specialized tools, equipment, and knowledge that
                                you may not have.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="d-flex flex-row">
                        <div>
                            <img
                                src="/icons/lineal/balance.svg"
                                class="svg-inject icon-svg icon-svg-md text-yellow me-4"
                                alt=""
                            />
                        </div>
                        <div>
                            <h4 class="mb-1">
                                Heavy lifting and physical strain
                            </h4>
                            <p class="mb-0">
                                Moving large or bulky items during junk removal
                                can be physically challenging and may
                                potentially lead to injuries.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="d-flex flex-row">
                        <div>
                            <img
                                src="/icons/lineal/truck.svg"
                                class="svg-inject icon-svg icon-svg-md text-leaf me-4"
                                alt=""
                            />
                        </div>
                        <div>
                            <h4 class="mb-1">Disposal logistics</h4>
                            <p class="mb-0">
                                Figuring out proper disposal methods, recycling
                                options, and navigating local regulations can be
                                complex and time-consuming.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="d-flex flex-row">
                        <div>
                            <img
                                src="/icons/lineal/heart.svg"
                                class="svg-inject icon-svg icon-svg-md text-red me-4"
                                alt=""
                            />
                        </div>
                        <div>
                            <h4 class="mb-1">Emotional attachment</h4>
                            <p class="mb-0">
                                Letting go of sentimental items can be
                                emotionally difficult, and having professional
                                assistance can ease the process.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper bg-light">
        <div class="container">
            <div
                class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-300 mb-14"
                data-image-src="/images/bg13.jpg"
            >
                <div class="card-body p-10 p-xl-12">
                    <div class="row text-center">
                        <div class="col-xl-11 col-xxl-9 mx-auto">
                            <h3 class="fs-16 text-uppercase text-white mb-7">
                                Well, we've got some good news...
                            </h3>
                            <h3 class="display-3 px-lg-8 pt-10 text-white">
                                We're here to take care of <span
                                    class="underline-3 style-1 white"
                                    >everything*</span>
                            </h3>
                            <p class="fs-14 text-white mb-7 pb-10">
                                *as long as it's junk related, of course
                            </p>
                            <div
                                class="d-flex align-items-center justify-content-center main-cta-action"
                            >
                                <span
                                    ><a
                                        href="tel:520-600-6322"
                                        class="btn btn-xl btn-soft-primary rounded-pill btn-icon btn-icon-start me-4 my-2"
                                        ><i class="uil uil-phone"></i>Call now</a
                                    ></span
                                >
                                <span class="text-white"
                                    >for a <b>no-obligation</b> estimate or <a
                                        href="#our-work"
                                        class="text-decoration-underline text-white scroll"
                                        >learn a bit more about what we do below</a
                                    ></span
                                >
                            </div>
                        </div>
                        <!-- /column -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
        <div class="container">
            <div
                class="row gx-lg-8 gy-8 mt-5 mt-md-12 mt-lg-0 mb-15 align-items-center"
            >
                <div class="col-lg-6 order-lg-2">
                    <div
                        class="row gx-md-5 gy-5"
                        data-cues="fadeIn"
                        data-group="images"
                        data-disabled="true"
                    >
                        <div
                            class="col-md-4 offset-md-2 align-self-end"
                            data-cue="fadeIn"
                            data-group="images"
                            data-show="true"
                            style="animation-name: fadeIn; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;"
                        >
                            <figure class="rounded">
                                <img
                                    src="/images/box-truck.jpg"
                                    alt="Empty Clutter Cowboys Box Truck"
                                />
                            </figure>
                        </div>

                        <div
                            class="col-md-6 align-self-end d-none d-md-block"
                            data-cue="fadeIn"
                            data-group="images"
                            data-show="true"
                            style="animation-name: fadeIn; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 300ms; animation-direction: normal; animation-fill-mode: both;"
                        >
                            <figure class="rounded">
                                <img
                                    src="/images/clutter-cowboys-cleanout.jpg"
                                    alt="Clutter Cowboys Box Truck"
                                />
                            </figure>
                        </div>

                        <div
                            class="col-md-6 offset-md-1"
                            data-cue="fadeIn"
                            data-group="images"
                            data-show="true"
                            style="animation-name: fadeIn; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 600ms; animation-direction: normal; animation-fill-mode: both;"
                        >
                            <figure class="rounded">
                                <img
                                    src="/images/garage-cleanout-pile.jpg"
                                    alt="Pile of junk to clean from a garage"
                                />
                            </figure>
                        </div>

                        <div
                            class="col-md-4 align-self-start d-none d-md-block"
                            data-cue="fadeIn"
                            data-group="images"
                            data-show="true"
                            style="animation-name: fadeIn; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 900ms; animation-direction: normal; animation-fill-mode: both;"
                        >
                            <figure class="rounded">
                                <img
                                    src="/images/moving-a-vase.jpg"
                                    alt="Moving some living room junk"
                                />
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <h2 class="display-4 mb-3">
                        Clutter Cowboys is a <span
                            class="underline-3 style-3 primary"
                            >different kind</span
                        > of junk removal company
                    </h2>
                    <p class="lead fs-lg mb-8 pe-xxl-2">
                        Just because it's messy, unglamorous work doesn't mean
                        you should have to deal with rude people, poor
                        communication, outdated processes, and unreliable
                        scheduling.
                    </p>
                    <div
                        class="row gx-xl-10 gy-6"
                        data-cues="slideInUp"
                        data-group="services"
                        data-disabled="true"
                    >
                        <div
                            class="col-md-6 col-lg-12 col-xl-6"
                            data-cue="slideInUp"
                            data-group="services"
                            data-show="true"
                            style="animation-name: slideInUp; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;"
                        >
                            <div class="d-flex flex-row">
                                <div>
                                    <div
                                        class="icon btn btn-circle btn-lg btn-outline-primary pe-none me-5"
                                    >
                                        <i class="uil uil-dollar-alt fs-35"></i>
                                    </div>
                                </div>
                                <div>
                                    <h4 class="mb-1">Transparent pricing</h4>
                                    <p class="mb-0">
                                        No more guesswork or surprises
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div
                            class="col-md-6 col-lg-12 col-xl-6"
                            data-cue="slideInUp"
                            data-group="services"
                            data-show="true"
                            style="animation-name: slideInUp; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 300ms; animation-direction: normal; animation-fill-mode: both;"
                        >
                            <div class="d-flex flex-row">
                                <div>
                                    <div
                                        class="icon btn btn-circle btn-lg btn-outline-primary pe-none me-5"
                                    >
                                        <i class="uil uil-clock fs-35"></i>
                                    </div>
                                </div>
                                <div>
                                    <h4 class="mb-1">
                                        On <span class="underline-3 style-2"
                                            >your</span
                                        > schedule
                                    </h4>
                                    <p class="mb-0">
                                        No more scheduling headaches and long
                                        arrival windows.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div
                            class="col-md-6 col-lg-12 col-xl-6"
                            data-cue="slideInUp"
                            data-group="services"
                            data-show="true"
                            style="animation-name: slideInUp; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 600ms; animation-direction: normal; animation-fill-mode: both;"
                        >
                            <div class="d-flex flex-row">
                                <div>
                                    <div
                                        class="icon btn btn-circle btn-lg btn-outline-primary pe-none me-5"
                                    >
                                        <i class="uil uil-map-pin-alt fs-35"
                                        ></i>
                                    </div>
                                </div>
                                <div>
                                    <h4 class="mb-1">Community focused</h4>
                                    <p class="mb-0">
                                        Your money stays in Tucson and we
                                        support local businesses and
                                        organizations
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div
                            class="col-md-6 col-lg-12 col-xl-6"
                            data-cue="slideInUp"
                            data-group="services"
                            data-show="true"
                            style="animation-name: slideInUp; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 900ms; animation-direction: normal; animation-fill-mode: both;"
                        >
                            <div class="d-flex flex-row">
                                <div>
                                    <div
                                        class="icon btn btn-circle btn-lg btn-outline-primary pe-none me-5"
                                    >
                                        <i class="uil uil-desert fs-35"></i>
                                    </div>
                                </div>
                                <div>
                                    <h4 class="mb-1">
                                        Environmentally conscious
                                    </h4>
                                    <p class="mb-0">
                                        We're constantly improving our processes
                                        for better junk disposal and business
                                        operations.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper bg-soft-primary" id="estimate-job">
        <div class="container py-14 py-md-14">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h3 class="fs-30 text-uppercase text-primary mb-3">
                        Want a quick estimate before calling?
                    </h3>
                    <p class="lead mb-10">
                        <b
                            >Imagine all your junk as <span
                                class="underline-3 style-3"
                                >refrigerator-sized</span
                            > piles. Then change the number below.</b>
                    </p>
                    <h4 class="display-6 mb-0 user-select-none">
                        Your <i
                            id="decrease_pile"
                            class="uil uil-minus-circle fs-28 me-1 text-primary text-opacity-50 cursor-pointer"
                        ></i><span
                            id="pile_number"
                            class="underline-3 style-2 fs-40">6</span
                        ><i
                            id="increase_pile"
                            class="uil uil-plus-circle fs-28 ms-1 text-primary cursor-pointer"
                        ></i> piles will cost between <span
                            id="lower_estimate"
                            class="underline-3 style-2">$231</span
                        > and <span
                            id="upper_estimate"
                            class="underline-3 style-2">$363</span
                        >.
                    </h4>
                </div>
                <!-- /column -->
            </div>
            <div
                class="d-flex align-items-center justify-content-center mt-12 main-cta-action"
            >
                <span
                    ><a
                        href="tel:520-600-6322"
                        class="btn btn-xl btn-primary rounded-pill btn-icon btn-icon-start text-white me-4 my-2"
                        ><i class="uil uil-phone"></i>Call now</a
                    ></span
                >
                <span
                    >for a <b>no-obligation, in-person</b> estimate (we never charge
                    just to come out)</span
                >
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
        <div class="container py-14 py-md-16">
            <div class="row gy-10 gy-sm-13 gx-lg-3 align-items-center">
                <div class="col-md-8 col-lg-6 position-relative">
                    <div
                        class="shape bg-dot primary rellax w-17 h-21"
                        data-rellax-speed="1"
                        style="top: -2rem; left: -1.9rem;"
                    >
                    </div>
                    <div
                        class="shape rounded bg-soft-primary rellax d-md-block"
                        data-rellax-speed="0"
                        style="bottom: -1.8rem; right: -1.5rem; width: 85%; height: 90%; "
                    >
                    </div>
                    <figure class="rounded">
                        <img
                            src="/images/smiling-while-planning.jpg"
                            alt="Smiling while scheduling junk removal"
                        />
                    </figure>
                </div>

                <div class="col-lg-5 col-xl-4 offset-lg-1">
                    <h2 class="display-3 mb-3">
                        Our process couldn't be easier
                    </h2>
                    <p class="lead fs-lg mb-6">
                        If we made it any simpler, it would literally be magic.
                    </p>
                    <div class="d-flex flex-row mb-6">
                        <div>
                            <span
                                class="icon btn btn-circle btn-outline-primary pe-none me-5"
                                ><span class="number fs-18">1</span></span
                            >
                        </div>
                        <div>
                            <h4 class="mb-1">Schedule an on-site quote</h4>
                            <p class="mb-0">
                                We show up, give you a no-nonsense final price
                                after looking at everything, and are ready to do
                                the job on the spot if the price works for you.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-6">
                        <div>
                            <span
                                class="icon btn btn-circle btn-outline-primary pe-none me-5"
                                ><span class="number fs-18">2</span></span
                            >
                        </div>
                        <div>
                            <h4 class="mb-1">We haul your junk</h4>
                            <p class="mb-0">
                                This is what you want. All your junk gone. It's
                                what we do. And we leave your space better than
                                we found it.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div>
                            <span
                                class="icon btn btn-circle btn-outline-primary pe-none me-5"
                                ><span class="number fs-18">3</span></span
                            >
                        </div>
                        <div>
                            <h4 class="mb-1">Easy-as-pie payment options</h4>
                            <p class="mb-0">
                                We've got the latest equipment to easily and
                                securely process card payments on the spot and
                                immediately send you a receipt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
        <div class="container mb-14">
            <div class="row">
                <div class="col-xl-10 mx-auto">
                    <div
                        class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-400"
                        data-image-src="/images/bg13.jpg"
                    >
                        <div
                            class="card-body p-6 p-md-11 d-lg-flex flex-row align-items-lg-center justify-content-md-between text-center text-lg-start"
                        >
                            <h3
                                class="display-6 mb-6 mb-lg-0 pe-lg-10 pe-xl-5 pe-xxl-18 text-white"
                            >
                                Ready for us to haul your junk?<br />Give us a
                                call so we can take care of you.
                            </h3>
                            <a
                                href="tel:520-600-6322"
                                class="btn btn-soft-primary btn-lg rounded-pill mb-0 btn-icon btn-icon-start"
                                ><i class="uil uil-phone"></i>520-600-6322</a
                            >
                        </div>
                    </div>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
        <div class="container mb-12">
            <div class="row">
                <div
                    class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mx-auto text-center"
                >
                    <h2 class="fs-15 text-uppercase text-muted mb-3">
                        People really like us
                    </h2>
                    <h3 class="display-4 mb-10 px-xl-10 px-xxl-15">
                        Don't take our word for it. Here's what some of our
                        amazing customers had to say.
                    </h3>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
            <div class="grid">
                <div class="row isotope gy-6">
                    <div class="item col-md-6 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <span class="ratings five mb-3"></span>
                                <blockquote class="icon mb-0">
                                    <p>
                                        “Top-notch service from Clutter Cowboys!
                                        They tackled my garage cleanout with
                                        impressive speed and professionalism.
                                        Friendly team, efficient work, and a
                                        clutter-free garage. Highly recommend!
                                        👍”
                                    </p>
                                    <div class="blockquote-details">
                                        <img
                                            class="rounded-circle w-12"
                                            src="/avatars/te1.jpg"
                                            alt=""
                                        />
                                        <div class="info">
                                            <h5 class="mb-1">Imaan</h5>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="item col-md-6 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <span class="ratings five mb-3"></span>
                                <blockquote class="icon mb-0">
                                    <p>
                                        “Overall, I was really happy with
                                        Clutter Cowboys' service. They made the
                                        whole process easy and stress-free. I'd
                                        definitely recommend them to anyone who
                                        needs junk pickup!”
                                    </p>
                                    <div class="blockquote-details">
                                        <img
                                            class="rounded-circle w-12"
                                            src="/avatars/te2.jpg"
                                            alt=""
                                        />
                                        <div class="info">
                                            <h5 class="mb-1">Elizabeth</h5>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="item col-md-6 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <span class="ratings five mb-3"></span>
                                <blockquote class="icon mb-0">
                                    <p>
                                        “Clutter Cowboys rocked! They cleared
                                        out my house before I sold it, and I
                                        couldn't be happier. Super friendly,
                                        fast, and eco-friendly too. The place
                                        looked amazing when they were done.
                                        Highly recommend these guys!”
                                    </p>
                                    <div class="blockquote-details">
                                        <img
                                            class="rounded-circle w-12"
                                            src="/avatars/te3.jpg"
                                            alt=""
                                        />
                                        <div class="info">
                                            <h5 class="mb-1">Michael</h5>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="item col-md-6 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <span class="ratings five mb-3"></span>
                                <blockquote class="icon mb-0">
                                    <p>
                                        “I recently had the pleasure of working
                                        with Clutter Cowboys in Tucson to clear
                                        out my cafe for a remodel, and I
                                        couldn't be more impressed. Their team
                                        was incredibly professional, courteous,
                                        and efficient. They took care of all the
                                        junk, leaving my place spotless. I
                                        highly recommend their services!"
                                    </p>
                                    <div class="blockquote-details">
                                        <img
                                            class="rounded-circle w-12"
                                            src="/avatars/t7.jpg"
                                            alt=""
                                        />
                                        <div class="info">
                                            <h5 class="mb-1">Tim</h5>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="item col-md-6 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <span class="ratings five mb-3"></span>
                                <blockquote class="icon mb-0">
                                    <p>
                                        “Making a big move is already stressful
                                        enough without having to deal with all
                                        of the junk that's definitely not going
                                        with us. Clutter Cowboys came out
                                        quickly to handle it for us so we could
                                        focus on all the other stuff that
                                        mattered.”
                                    </p>
                                    <div class="blockquote-details">
                                        <img
                                            class="rounded-circle w-12"
                                            src="/avatars/te5.jpg"
                                            alt=""
                                        />
                                        <div class="info">
                                            <h5 class="mb-1">Jackie</h5>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="item col-md-6 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <span class="ratings five mb-3"></span>
                                <blockquote class="icon mb-0">
                                    <p>
                                        “I recently used Clutter Cowboys after
                                        my kitchen remodel, and they were
                                        awesome! The people on the phone were
                                        super nice, and the crew was punctual
                                        and efficient. They got everything
                                        loaded onto their truck in no time and
                                        didn't damage any of my stuff. Clutter
                                        Cowboys is definitely the way to go for
                                        junk removal - fair prices and a cool
                                        team. I'll use them again for sure!”
                                    </p>
                                    <div class="blockquote-details">
                                        <img
                                            class="rounded-circle w-12"
                                            src="/avatars/te6.jpg"
                                            alt=""
                                        />
                                        <div class="info">
                                            <h5 class="mb-1">Adrian</h5>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.grid-view -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light" id="our-work">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-xl-8 col-xxl-7 mx-auto mb-8">
                    <h2
                        class="fs-15 text-uppercase text-muted text-center mb-3"
                    >
                        How can we help?
                    </h2>
                    <h3 class="display-4 text-center">
                        Every job is different, but here's some of the most
                        common stuff we can help with
                    </h3>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
            <div class="grid grid-view projects-masonry">
                <div class="row gx-md-8 gy-10 gy-md-13 isotope mb-14">
                    <div class="project item col-md-6 col-xl-4 product">
                        <figure class="lift rounded mb-6">
                            <!-- <a href="./single-project.html">  -->
                            <img src="/images/estate-sale.jpg" alt="" />
                            <!-- </a> -->
                        </figure>
                        <div
                            class="project-details d-flex justify-content-center flex-column"
                        >
                            <div class="post-header">
                                <div
                                    class="post-category text-line mb-3 text-leaf"
                                >
                                    Residential
                                </div>
                                <h2 class="post-title h3">Estate Cleanouts</h2>
                                <p>
                                    Managing the belongings of a deceased loved
                                    one can be emotionally challenging. Junk
                                    removal services can assist in efficiently
                                    clearing out the estate, handling items for
                                    donation, recycling, or disposal, and
                                    providing a compassionate approach during a
                                    difficult time.
                                </p>
                            </div>
                            <!-- /.post-header -->
                        </div>
                        <!-- /.project-details -->
                    </div>
                    <!-- /.project -->
                    <div class="project item col-md-6 col-xl-4 workshop">
                        <figure class="lift rounded mb-6">
                            <!-- <a href="./single-project2.html">  -->
                            <img src="/images/home-remodel.jpg" alt="" />
                            <!-- </a> -->
                        </figure>
                        <div
                            class="project-details d-flex justify-content-center flex-column"
                        >
                            <div class="post-header">
                                <div
                                    class="post-category text-line mb-3 text-leaf"
                                >
                                    Residential/<span class="text-ash"
                                        >Commercial</span>
                                </div>
                                <h2 class="post-title h3">
                                    Renovation and Remodeling Projects
                                </h2>
                                <p>
                                    Home renovations and remodeling projects
                                    often generate a significant amount of
                                    debris, including construction materials,
                                    demolished fixtures, and old appliances.
                                    Junk removal companies can swiftly remove
                                    the debris, allowing the renovation process
                                    to progress smoothly.
                                </p>
                            </div>
                            <!-- /.post-header -->
                        </div>
                        <!-- /.project-details -->
                    </div>
                    <!-- /.project -->
                    <div class="project item col-md-6 col-xl-4 still-life">
                        <figure class="lift rounded mb-6">
                            <!-- <a href="./single-project3.html"> -->
                            <img src="/images/abandoned-warehouse.jpg" alt="" />
                            <!-- </a> -->
                        </figure>
                        <div
                            class="project-details d-flex justify-content-center flex-column"
                        >
                            <div class="post-header">
                                <div
                                    class="post-category text-line mb-3 text-ash"
                                >
                                    Commercial
                                </div>
                                <h2 class="post-title h3">
                                    Business and Warehouse Cleanouts
                                </h2>
                                <p>
                                    Commercial spaces, offices, or retail stores
                                    may require junk removal services to clear
                                    out old inventory, outdated equipment, or
                                    office furniture. This allows businesses to
                                    optimize their space, create a more
                                    organized environment, and enhance
                                    productivity.
                                </p>
                            </div>
                            <!-- /.post-header -->
                        </div>
                        <!-- /.project-details -->
                    </div>
                    <!-- /.project -->
                    <div class="project item col-md-6 col-xl-4 product">
                        <figure class="lift rounded mb-6">
                            <!-- <a href="./single-project2.html"> -->
                            <img src="/images/hoard-house.jpg" alt="" />
                            <!-- </a> -->
                        </figure>
                        <div
                            class="project-details d-flex justify-content-center flex-column"
                        >
                            <div class="post-header">
                                <div
                                    class="post-category text-line mb-3 text-leaf"
                                >
                                    Residential
                                </div>
                                <h2 class="post-title h3">
                                    Hoarding Situations
                                </h2>
                                <p>
                                    Individuals struggling with hoarding
                                    disorder often accumulate excessive
                                    possessions that can become overwhelming.
                                    Junk removal companies can provide
                                    specialized assistance in compassionate and
                                    discreet cleanouts, working alongside mental
                                    health professionals to address the
                                    underlying issues.
                                </p>
                            </div>
                            <!-- /.post-header -->
                        </div>
                        <!-- /.project-details -->
                    </div>
                    <!-- /.project -->
                    <div class="project item col-md-6 col-xl-4 product">
                        <figure class="lift rounded mb-6">
                            <!-- <a href="./single-project.html"> -->
                            <img src="/images/concert-cleanup.jpg" alt="" />
                            <!-- </a> -->
                        </figure>
                        <div
                            class="project-details d-flex justify-content-center flex-column"
                        >
                            <div class="post-header">
                                <div
                                    class="post-category text-line mb-3 text-ash"
                                >
                                    Commercial
                                </div>
                                <h2 class="post-title h3">
                                    Public Event Cleanup
                                </h2>
                                <p>
                                    After hosting events, conferences, or
                                    parties, there is often a need for prompt
                                    cleanup to restore the venue to its original
                                    condition. Junk removal services can
                                    efficiently handle the removal of trash,
                                    discarded decorations, and event-related
                                    waste.
                                </p>
                            </div>
                            <!-- /.post-header -->
                        </div>
                        <!-- /.project-details -->
                    </div>
                    <!-- /.project -->
                    <div class="project item col-md-6 col-xl-4 workshop">
                        <figure class="lift rounded mb-6">
                            <!-- <a href="./single-project3.html"> -->
                            <img src="/images/cluttered-garage.jpg" alt="" />
                            <!-- </a> -->
                        </figure>
                        <div
                            class="project-details d-flex justify-content-center flex-column"
                        >
                            <div class="post-header">
                                <div
                                    class="post-category text-line mb-3 text-leaf"
                                >
                                    Residential
                                </div>
                                <h2 class="post-title h3">
                                    Garage and Storage Unit Cleanouts
                                </h2>
                                <p>
                                    Over time, garages and basements can become
                                    repositories for unused or unwanted items.
                                    Junk removal businesses can assist in
                                    decluttering these spaces, making them
                                    functional again and freeing up storage
                                    capacity.
                                </p>
                            </div>
                            <!-- /.post-header -->
                        </div>
                        <!-- /.project-details -->
                    </div>
                    <!-- /.project -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.grid -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
</DefaultPageLayout>
