<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Reliable junk hauling & removal services in Tucson, AZ. We handle residential & commercial junk, from furniture to debris. Get a clutter-free space! Call now.">
  <meta name="keywords" content="Junk removal, junk hauling, scrap hauling, cleanout services, clutter removal, construction cleanup, appliance disposal, furniture removal">
  <meta name="author" content="Clutter Cowboys">
  <title>Tucson Junk Removal and Hauling Specialists | Clutter Cowboys</title>
  <meta property="og:image" content="https://cluttercowboys.com/social-card-hd.jpg" />
  <meta property="og:title" content="Tucson Junk Removal and Hauling Specialists | Clutter Cowboys" />
  <meta property="og:description" content="Reliable junk hauling & removal services in Tucson, AZ. We handle residential & commercial junk, from furniture to debris. Get a clutter-free space! Call now." />
  <meta property="og:image:width" content="1600" />
  <meta property="og:image:height" content="836" />

  <link rel="canonical" href="https://cluttercowboys.com"/>
  <link rel="sitemap" href="/sitemap-index.xml">

  <link rel="shortcut icon" href=`${Astro.site.origin}/favicon.png`>
  <link rel="stylesheet" href=`${Astro.site.origin}/css/external.css`>

  <!-- Google tag (gtag.js) -->
  <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-RRBJ4Q5G6B"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-RRBJ4Q5G6B');
    gtag('config', 'AW-949945401');
  </script>
  <script is:inline>
    gtag('config', 'AW-949945401/J5beCNXO8KAYELmI_MQD', {
      'phone_conversion_number': '520-600-6322'
    });
  </script>
  <!-- Meta Pixel Code -->
  <script is:inline>
    ! function(f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function() {
        n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '241669498554433');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=241669498554433&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Meta Pixel Code -->
</head>